img {
    max-width: 400px;
    padding-right: 1rem;
}

.dolls {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.doll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 20px;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
}

.reveal {
    transform: translateY(-100px);
}

.babies {
    /* need to figure out how to add img instead for "pearl" AKA baby - babies are currently hidden 100% of the time due to Y axis*/
    z-index: -1;
    position: absolute;
    margin: 10px;
    top: 274px;
    height: 100px;
}

.stat {
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

button {
    margin-right: 2rem;
    width: 100px;
    height: 30px;
    font-family: 'Righteous', cursive;
}

#resetBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
